<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <!-- https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md -->
        <Configuration>
          <Include>[*.Core]*</Include>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
          <ExcludeByFile>../**/Program.cs,../**/Startup.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>